<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Myservlet1</servlet-name>
        <servlet-class>a1.Myservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myservlet2</servlet-name>
        <servlet-class>a1.Myservlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myservlet3</servlet-name>
        <servlet-class>a1.Myservlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myservlet</servlet-name>
        <servlet-class>a1.Myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myservlet4</servlet-name>
        <servlet-class>a1.Myservlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSessionServlet1</servlet-name>
        <servlet-class>a1.HttpSessionServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSessionServlet2</servlet-name>
        <servlet-class>a1.HttpSessionServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet1</servlet-name>
        <servlet-class>a1.CookieServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet2</servlet-name>
        <servlet-class>a1.CookieServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDispatcher1</servlet-name>
        <servlet-class>a1.RequestDispatcher1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDispatcher2</servlet-name>
        <servlet-class>a1.RequestDispatcher2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleSearching</servlet-name>
        <servlet-class>a1.GoogleSearching</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Singlethreadedmodel</servlet-name>
        <servlet-class>a1.Singlethreadedmodel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Myservlet1</servlet-name>
        <url-pattern>/Myservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myservlet2</servlet-name>
        <url-pattern>/Myservlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myservlet3</servlet-name>
        <url-pattern>/Myservlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myservlet</servlet-name>
        <url-pattern>/Myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myservlet4</servlet-name>
        <url-pattern>/Myservlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSessionServlet1</servlet-name>
        <url-pattern>/HttpSessionServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSessionServlet2</servlet-name>
        <url-pattern>/HttpSessionServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet1</servlet-name>
        <url-pattern>/CookieServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet2</servlet-name>
        <url-pattern>/CookieServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDispatcher1</servlet-name>
        <url-pattern>/RequestDispatcher1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDispatcher2</servlet-name>
        <url-pattern>/RequestDispatcher2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleSearching</servlet-name>
        <url-pattern>/GoogleSearching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Singlethreadedmodel</servlet-name>
        <url-pattern>/Singlethreadedmodel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
        </welcome-file-list>
    </web-app>
